{% if 'device' in item %}
DEVICE={{ item.device }}
{% endif %}
{% if 'ip' in item %}
IPADDR={{ item.ip }}
{% endif %}
{% if 'netmask' in item %}
NETMASK={{ item.netmask }}
{% endif %}
{% if 'gateway' in item %}
GATEWAY={{ item.gateway }}
{% endif %}
{% if 'bootproto' in item %}
BOOTPROTO={{ item.bootproto }}
{% endif %}
